:root{
 --card-color: purple;
}

html {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

section {
    background-color: lightgray;
    border-style: dashed;
    border-radius: 5px;
    padding: 10px;
    max-width: 30%;
    max-height: 40%;
    min-width: 30%;
    min-height: 40%;
}

h2 {

}

pre {
    font-size: 12px;
    background-color: var(--card-color);
    border-radius: 6px;
    color: black;
}

footer {
    text-align: center;
}

.para {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

@media screen and (max-width: 768px) {
    section {
      width: 67%;
    }
  }
  
  @media screen and (max-width: 576px) {
    section {
        width: 100%;
    }
  }

